php_value display_errors On
php_value mbstring.http_input auto
php_value date.timezone America/Los_Angeles
php_value upload_max_filesize 10M
php_value post_max_size 10M
php_value memory_limit 256M

ErrorDocument 400 https://error.aptapus.net/400
ErrorDocument 401 https://error.aptapus.net/401
ErrorDocument 403 https://error.aptapus.net/403
ErrorDocument 404 https://error.aptapus.net/404
ErrorDocument 503 https://error.aptapus.net/503

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests;"
